<div class="container neumorphic-border">
  <div class="row">
    <form action="/reader/add_reader" method="post">
      <fieldset>
        <label for="reader_name"><p>Enter name of reader:</p></label>
        <input type="text" name="reader_name" minlength="1" maxlength="25" size="25">
        <input type="submit" name="submit" value="Enter">
      </fieldset>
    </form>
  </div>
</div>



<div class="row">
  <p><a href="/dashboard" >Return to dashboard</a></p>
</div>